.git
.github
.vscode
**/node_modules
**/dist
**/.vite
**/.cache
**/.env
**/.env.*
**/local.settings.json
**/__blobstorage__
**/__queuestorage__
**/__azurite_db_*
**/tests/diagnostics
restore-points
training-data/*
!training-data/ACORD 0125 2016-03r1.xfdl
corpus-validation-*
debug
docs
*.log